<div class="form-group<% unless f.object.errors[:title].blank?%> has-error<% end %>">
  <div class="col-sm-12">
    <%= f.text_field :title, type: 'title', class: 'form-control input-lg', placeholder: t('.title_placeholder'), required: true %>
    <hr class="divider" />
  </div>
</div>
<div class="form-group<% unless f.object.errors[:body].blank? %> has-error<% end %>">
  <div class="col-sm-12">
    <%= f.cktext_area :body, :class => 'form-control', :ckeditor => {:language => 'es'} %>
  </div>
</div>
