@import "../variables";

nav.navbar.navbar-capitel {
  background-color: transparent;
  border: 0;

  > .container {
    padding: 0;
  }

  .navbar-header {
    float: none;
    border-bottom: 2px solid $brand-color;

    .navbar-brand {
      margin: 0;

      &.image {
        height: auto;
        padding: 20px 15px 10px 15px;
      }

      &.text {
        color: $brand-color;
        display: none;
      }
    }

    img.logo {
      width: 170px;
    }

    .phones {
      float: right;
      text-align: right;

      padding-top: 35px;

      font-size: 1.8em;
      line-height: 1.4em;
      color: #000;

      font-family: 'Roboto', sans-serif;
    }
  }

  .navbar-collapse {
    border: 1px solid $brand-color;
    border-left: 0;
    border-right: 0;
    padding: 0;
  }

  .navbar-nav {
    float: none;

    > li {
      text-transform: uppercase;

      &.active > a {
        font-weight: 400;
        background-color: lighten($brand-color, 40%);
      }

      &.open > a {
        background-color: lighten($brand-color, 30%);
      }

      a {
        padding: 15px 30px;

        font-weight: 300;
        color: darken($brand-color, 10%);

        &:hover {
          background-color: lighten($brand-color, 30%);
        }
      }
    }
  }
}

@media(max-width:767px){
  nav.navbar.navbar-capitel {

    .container {
      padding: 0 15px;
    }

    .navbar-toggle {
      border-color: $brand-color;

      > .icon-bar {
        background-color: $brand-color;
      }

      &:hover, &:active, &:focus {
        background-color: lighten($brand-color, 30%);
      }
    }

    .navbar-header {
      .navbar-brand.image {
        display: none;
      }
      .navbar-brand.text {
        display: block;
      }

      .phones {
        display: none;
      }
    }
  }
}
