/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font_awesome_and_overrides
 *= require flexslider.css
 *= require_tree ./ui/
 *= require_tree ./contents/
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

 @import "variables";

.container {
  max-width: 800px;

  &.content {
    font-size: 1.2em;
    padding-bottom: 20px;

    p img {
      border: 1px solid #ddd;
      padding: 3px;
      box-sizing: content-box;

      &[style*="float: right"], &[style*="float:right"] {
        margin-left: 10px;
        margin-right: -10px;
      }

      &[style*="float: left"], &[style*="float:left"] {
        margin-right: 10px;
        margin-left: -10px;
      }
    }

    form.form-contact {
      margin: 20px 0;
      font-size: 0.8em;

      .help-block {
        font-size: 0.8em;
      }
    }

    .flexslider {
      margin-bottom: 40px;
    }

    .flex-caption {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 96%;
      padding: 10px;
      margin: 0;

      background: rgba(0,0,0,.5);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.3);
      font-size: 14px;
      line-height: 18px;
    }
  }
}

 a, a:active {
   color: $brand-color;

   &:hover, &:active, &:focus {
     color: darken($brand-color, 20%);
   }
 }
