<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para el cambio de contraseña del panel de administración de la web de Capitel VII.</p>

<p><%= link_to 'Cambiar la contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Si no has solicitado este cambio de contraseña, no hace falta que hagas nada.<br />
  Tu contraseña no cambiará si no accedes a través de ese enlace.
</p>

<p>
  Saludos,<br />
  Capitel VII S.L.
</p>
