<p>¡Hola!</p>

<p>
  Se ha registrado una nueva petición de contacto a través de la web.<br />
  Los datos son los siguientes:
</p>

<ul>
  <li><b>Nombre:</b>&nbsp;<%= @contact_request.name %></li>
  <li><b>E-mail:</b>&nbsp;<%= @contact_request.email %></li>
  <li><b>Teléfono:</b>&nbsp;<%= @contact_request.phone %></li>
  <li><b>Texto:</b>&nbsp;<%= @contact_request.body %></li>
</ul>

<p>
  Para más información, visita la sección 'Peticiones' del panel de administración.
</p>
